
.tag-short .post-full-image {
    height: 400px;
}

@media (max-width: 1170px) {
    .tag-short .post-full-image {
        height: 250px;
    }
}

@media (max-width: 800px) {
    .tag-short .post-full-image {
        height: 150px;
    }
}

.site-nav {
    height: 54px;
    overflow: hidden;
}

.site-nav-left {
    padding-top: 5px;
}

.site-nav-right {
    padding-top: 0px;
}
